<div class="row animated fadeIn fast">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>{{ "SEARCH.MEDIC.TITLE" | translate }}</h3>

        <div class="alert alert-info animated fadeIn fast" *ngIf="medicos.length === 0">
          <p>{{ "SEARCH.MEDIC.NOTFOUD" | translate }}</p>
        </div>

        <div class="table-responsive" *ngIf="medicos.length > 0">
          <table class="table">
              <thead>
                  <tr>
                      <th>{{ "SEARCH.MEDIC.AVATAR" | translate }}</th>
                      <th>{{ "SEARCH.MEDIC.NAME" | translate }}</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let medico of medicos" class="animated fadeIn fast">
                  <td>
                    <img [src]="medico.img! | imagen: 'medicos'" class="w75" />
                  </td>
                  <td>
                    <a [routerLink]="['/dashboard/medico', medico._id]">{{ medico.nombre }}</a>
                  </td>
              </tr>
              </tbody>
          </table>
      </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>{{ "SEARCH.HOSPITAL.TITLE" | translate }}</h3>

        <div class="alert alert-info animated fadeIn fast" *ngIf="hospitales.length === 0">
          <p>{{ "SEARCH.HOSPITAL.NOTFOUD" | translate }}</p>
        </div>

        <div class="table-responsive" *ngIf="hospitales.length > 0">
          <table class="table">
              <thead>
                  <tr>
                      <th>{{ "SEARCH.HOSPITAL.AVATAR" | translate }}</th>
                      <th>{{ "SEARCH.HOSPITAL.NAME" | translate }}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let hospital of hospitales" class="animated fadeIn fast">
                      <td>
                        <img [src]="hospital.img! | imagen: 'hospitales'" class="w75" />
                      </td>
                      <td>{{ hospital.nombre }}</td>
                  </tr>
              </tbody>
          </table>
      </div>
      </div>
    </div>
  </div>
  
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>{{ "SEARCH.USER.TITLE" | translate }}</h3>

        <div class="alert alert-info animated fadeIn fast" *ngIf="usuarios.length === 0">
          <p>{{ "SEARCH.USER.NOTFOUD" | translate }}</p>
        </div>

        <div class="table-responsive" *ngIf="usuarios.length > 0">
          <table class="table">
              <thead>
                  <tr>
                      <th>{{ "SEARCH.USER.AVATAR" | translate }}</th>
                      <th>{{ "SEARCH.USER.NAME" | translate }}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let usuario of usuarios" class="animated fadeIn fast">
                      <td>
                        <img [src]="usuario.img! | imagen: 'usuarios'" class="w75" />
                      </td>
                      <td>{{ usuario.nombre }}</td>
                  </tr>
              </tbody>
          </table>
      </div>
      </div>
    </div>
  </div>
</div>