<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ "PERFIL.TITLE" | translate }}</h4>
        <h6 class="card-subtitle">{{ "PERFIL.SUBTITLE" | translate }}</h6>
        <form class="form p-t-20" [formGroup]="perfilForm" (ngSubmit)="actualizarPerfil()">
          <div class="form-group">
            <label for="exampleInputuname">{{ "PERFIL.FORM.LABEL.NAME" | translate }}</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" 
                     class="form-control" 
                     id="exampleInputuname"
                     [placeholder]="placeholderName" 
                     formControlName="nombre"
              >
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">{{ "PERFIL.FORM.LABEL.EMAIL" | translate }}</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="email" 
                     class="form-control" 
                     id="exampleInputEmail1" 
                     [placeholder]="placeholderEmail"
                     formControlName="email"
                     [readonly]="usuario.google"
              >
            </div>
          </div>
          <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10" [disabled]="perfilForm.invalid">
            <i class="fa fa-save"></i>
            {{ "PERFIL.FORM.BUTTON.SAVE" | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ "PERFIL.IMAGE.TITLE" | translate }}</h4>
        <h6 class="card-subtitle">{{ "PERFIL.IMAGE.SUBTITLE" | translate }}</h6>
        <div class="text-center mb-2">
          <img *ngIf="!imgTemp" [src]="usuario.imagenUrl" class="img-avatar" />
          <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar" />
        </div>
        <input type="file" (change)="cambiarImagen($event)">
        <br><br>
        <button type="button" 
                class="btn btn-success btn-block waves-effect waves-light m-r-10"
                [disabled]="!imagenSubir"
                (click)="subirImagen()"
        >
          <i class="fa fa-save"></i>
          {{ "PERFIL.IMAGE.BUTTON.SAVE" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>