<section id="wrapper" 
         class="login-register login-sidebar" 
         style="background-image:url(../assets/images/background/login-register.jpg);"
>
  <div class="login-box card">
    <div class="card-body">
      <form class="form-horizontal form-material" 
            id="loginform" 
            (ngSubmit)="crearUsuario()" 
            autocomplete="off" 
            [formGroup]="registerForm"
      >
        <a href="javascript:void(0)" class="text-center db">
          <img src="./assets/images/logo-icon.png" alt="Home" />
          <br/>
          <img src="./assets/images/logo-text.png" alt="Home" />
        </a>
        <h3 class="box-title m-t-40 m-b-0">{{ "REGISTER.TITLE" | translate }}</h3>
        <small>{{ "REGISTER.SUBTITLE" | translate }}</small>
        <div class="form-group m-t-20">
          <div class="col-xs-12">
            <input class="form-control" 
                   type="text" 
                   [placeholder]="placeholderName" 
                   formControlName="nombre"
            >
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" 
                   type="text" 
                   [placeholder]="placeholderEmail" 
                   formControlName="email"
            >
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" 
                   type="password" 
                   [placeholder]="placeholderPassword" 
                   formControlName="password"
            >
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" 
                   type="password" 
                   [placeholder]="placeholderConfirm" 
                   formControlName="passwordConfirm"
            >
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary p-t-0">
              <input id="checkbox-signup" 
                     type="checkbox" 
                     formControlName="terminos"
              >
              <label for="checkbox-signup">
                {{ "REGISTER.TERMS" | translate }}
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-danger">
            <p *ngIf="campoNoValido('nombre')">{{ "REGISTER.ERRORS.NAME" | translate }}</p>
            <p *ngIf="campoNoValido('email')">{{ "REGISTER.ERRORS.EMAIL" | translate }}</p>
            <p *ngIf="contrasenasInvalidas()">{{ "REGISTER.ERRORS.PASSWORDS" | translate }}</p>
            <p *ngIf="aceptarTerminos()">{{ "REGISTER.ERRORS.TERMS" | translate }}</p>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" 
                    type="submit"
            >
              {{ "REGISTER.SIGNUP" | translate }}
            </button>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>
              {{ "REGISTER.ACCOUNT" | translate }}
              <a routerLink="/login" class="text-info m-l-5">
                <b>{{ "REGISTER.SIGNIN" | translate }}</b>
              </a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>