<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <b>
          <img src="./assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
          <img src="./assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
        </b>
        <span>
          <img src="./assets/images/logo-text.png" alt="homepage" class="dark-logo" />
          <img src="./assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
        </span> 
      </a>
    </div>
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> 
          <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)">
            <i class="ti-menu"></i>
          </a> 
        </li>
        <li class="nav-item"> 
          <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)">
            <i class="ti-menu"></i>
          </a>
        </li>
        <li class="nav-item hidden-sm-down"></li>
      </ul>
      <ul class="navbar-nav my-lg-0">
        <li class="nav-item hidden-xs-down search-box"> 
          <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)">
            <i class="ti-search"></i>
          </a>
          <form class="app-search" (submit)="buscar(txtTermino.value)">
            <input type="text" 
                   class="form-control" 
                   placeholder="Buscar medico/hospital/usuario..."
                   #txtTermino
            />
              <a class="srh-btn"><i class="ti-close"></i></a> 
          </form>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" 
             aria-haspopup="true" aria-expanded="false"> 
             <i [class]="lang"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right animated fadeIn fast">
            <button class="dropdown-item" type="button" (click)="setLang('es')">
              <i class="flag-icon flag-icon-es"></i> 
              {{ "HEADER.LANG.SPAIN" | translate }}
            </button> 
            <button class="dropdown-item" type="button" (click)="setLang('en')">
              <i class="flag-icon flag-icon-us"></i> 
              {{ "HEADER.LANG.ENGLISH" | translate }}
            </button> 
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false"><img [src]="usuario.imagenUrl" alt="user" class="profile-pic" />
          </a>
          <div class="dropdown-menu dropdown-menu-right animated fadeIn fast">
            <ul class="dropdown-user">
              <li>
                <div class="dw-user-box">
                  <div class="u-img"><img [src]="usuario.imagenUrl" alt="user"></div>
                  <div class="u-text">
                    <h4>{{ usuario.nombre }}</h4>
                    <p class="text-muted">
                      {{ usuario.email | slice: 0:20 }}{{ (usuario.email!.length > 20) ? '...' : '' }}
                    </p>
                  </div>
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a routerLink="./perfil">
                  <i class="ti-user"></i> 
                  {{ "HEADER.PROFILE" | translate }}
                </a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a routerLink="account-settings">
                  <i class="ti-settings"></i> 
                  {{ "HEADER.ACOUNT" | translate }}
                </a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a (click)="logout()" class="pointer">
                  <i class="fa fa-power-off"></i> 
                  {{ "HEADER.LOGOUT" | translate }}
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>