<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ "MAINTAINERS.MEDICS.MEDIC.TITLE" | translate }}</h4>
        <h6 class="card-subtitle">{{ "MAINTAINERS.MEDICS.MEDIC.SUBTITLE" | translate }}</h6>
        <form class="form-horizontal p-t-20" 
              [formGroup]="medicoForm"
              (ngSubmit)="guardarMedico()">
          <div *ngIf="medicoSeleccionado" class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label">{{ "MAINTAINERS.MEDICS.MEDIC.FORM.PHOTO" | translate }}</label>
            <div class="col-sm-9">
              <div class="input-group">
                <img [src]="medicoSeleccionado.img! | imagen: 'medicos'" 
                    alt="fotografia del medico" 
                    class="w200" 
                />
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label">{{ "MAINTAINERS.MEDICS.MEDIC.FORM.NAME" | translate }}</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input type="text" 
                       class="form-control" 
                       id="exampleInputuname3" 
                       [placeholder]="placeholderName"
                       formControlName="nombre"
                />
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="exampleInputEmail3" class="col-sm-3 control-label">{{ "MAINTAINERS.MEDICS.MEDIC.FORM.HOSPITAL" | translate }}</label>
            <div class="col-sm-9">
              <div class="input-group">
                <select class="form-control" formControlName="hospital">
                  <option value="">{{ "MAINTAINERS.MEDICS.MEDIC.FORM.SELECT" | translate }}</option>
                  <option *ngFor="let hospital of hospitales" 
                          [value]="hospital._id"
                  >
                    {{ hospital.nombre }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row m-b-0">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit"
                      [class]="themeColor" 
                      class="btn waves-effect waves-light"
                      [disabled]="medicoForm.invalid"
              >
                <i class="fa fa-save"></i>
                {{ "MAINTAINERS.MEDICS.MEDIC.FORM.SAVE" | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-6 animated fadeIn fast" *ngIf="hospitalSeleccionado">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ "MAINTAINERS.MEDICS.MEDIC.IMAGE.TITLE" | translate }}</h4>
        <h6 class="card-subtitle">{{ hospitalSeleccionado.nombre }}</h6>
        <img [src]="hospitalSeleccionado.img! | imagen: 'hospitales'" 
             alt="fotografia del medico" 
             class="img-thumbnail"
        />
      </div>
    </div>
  </div>
</div>