p#addImage {
  text-align: center;
  color: #fff;
  margin: 0;
}

div#file {
  position: relative;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

input#btnAddImage {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  opacity: 0;
}