<div class="fondo-modal-imagen animated fadeIn fast"
     [class.oculto]="modalImagenService.ocultarModal">
  <div class="modal fade show" 
       id="exampleModal" 
       tabindex="-1" 
       role="dialog" 
       aria-labelledby="exampleModalLabel1" 
       style="display: block;"
    >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">{{ "MODALIMAGEN.TITLE" | translate }}</h4>
          <button type="button" 
                  class="close" 
                  data-dismiss="modal" 
                  aria-label="Close"
                  (click)="cerrarModal"
          >
          </button>
        </div>
        <div class="modal-body">
          <h3>{{ "MODALIMAGEN.SUBTITLE" | translate }}</h3>
          <div class="container">
            <div class="d-flex flex-column">
              <div class="text-center mb-2 p15">
                <img *ngIf="!imgTemp" [src]="modalImagenService.img" class="img-avatar" />
                <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar" />
              </div>
              <div id="file" [class]="themeColor" class="button">
                <a id="addImage">{{ "MODALIMAGEN.BUTTON.TEXT" | translate }}</a>
                <input type="file" id="btnAddImage" (change)="cambiarImagen($event)">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" 
                  class="btn btn-default" 
                  data-dismiss="modal"
                  (click)="cerrarModal()"
          >
            {{ "MODALIMAGEN.BUTTON.CANCEL" | translate }}
          </button>
          <button type="button" 
                  (click)="subirImagen()"
                  [class]="themeColor"
                  class="button"
          >
            {{ "MODALIMAGEN.BUTTON.UPDATE" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
