.fast {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

#themecolors .selector {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

#google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img-avatar {
  width: 200px;
  height: 200px;
}

.avatar {
  border: 1px solid gray;
  border-radius: 100%;
  width: 75px;
}

.fondo-modal-imagen {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 999;
}

.oculto {
  display: none;
}

.w100 {
  width: 100px;
}

.w140 {
  width: 140px;
}

.w200 {
  width: 200px;
}