.fast {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

#themecolors .selector {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

#google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img-avatar {
  width: 200px;
  height: 200px;
}