<div class="row">
  <div class="col-lg-3">
      <div class="card bg-info">
        <div class="card-body">
          <div class="d-flex no-block">
            <div class="m-r-20 align-self-center">
              <img class="image-icon" src="../assets/images/icon/users-icon.png" alt="user icon">
            </div>
            <div class="align-self-center">
              <h6 class="text-white m-t-10 m-b-0">Total usuarios</h6>
              <h2 class="m-t-0 text-white">{{ totalUsuarios }}</h2>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="col-lg-3">
    <div class="card bg-success">
      <div class="card-body">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center">
            <img class="image-icon" src="../assets/images/icon/hospital-icon.png" alt="hospital icon">
          </div>
          <div class="align-self-center">
            <h6 class="text-white m-t-10 m-b-0">Total Hospitales</h6>
            <h2 class="m-t-0 text-white">{{ totalHospitales }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card bg-primary">
      <div class="card-body">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center">
            <img class="image-icon" src="../assets/images/icon/medic-icon.png" alt="medic icon">
          </div>
          <div class="align-self-center">
            <h6 class="text-white m-t-10 m-b-0">Total Medicos</h6>
            <h2 class="m-t-0 text-white">{{ totalMedicos }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>